/*Color Variables */
$color-main: #2E364F;
$color-text-bg-light: black ;
$color-text-bg-dark: white ;

* {
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box ;
}

body {
    font-family: 'Open Sans', sans-serif ;
    /*color: $color-text-bg-light;*/
    font-size: 1.1em;
}

a {
    font-weight: bold ;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none ;
    text-transform: uppercase ;
    /* padding: 10px ;*/
    transition: 0.3s;
}

.btn-light-bg {
    color: $color-text-bg-light ;
    border: $color-text-bg-light solid 2px ;
    font-weight: 400 ;
    padding: 10px ;

    &:hover {
        background-color: black ;
        color: white ;
    }
}

.btn-dark-bg {
    color: $color-text-bg-dark ;
    border: $color-text-bg-dark solid 2px;
    font-weight: 400 ;

    &:hover {
        background-color: white ;
        color: black ;
    }
}


h1 {
    color: $color-text-bg-light ;
    font-family: 'Fira Sans', sans-serif ;
    text-transform: uppercase;
}

.nav-logo {
    text-transform: lowercase ;
}

h4 {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px ;
}

img {
    width: 100% ;
}

p {
    &:last-child {
        margin-top: 20px ;
    }
    
}

.container {
    max-width: 1100px ;
    padding: 0 2rem ;
    margin: auto ;
}

.site-header {
    height: 75px ;
    background-color: $color-main ;
   
    
    .nav {
        font-size: 1.2rem ;
        margin: auto auto;
        
    }

    .container {
        display: grid ;
        grid-template-columns: (repeat(2, 1fr));
    }

    h1 {
        margin: auto 0;
        text-transform: lowercase;
    }

    .menu {
        list-style: none ;
        text-transform: uppercase ;

        display: flex ;
        flex-direction: row ;
        align-items: center ;
        justify-content: center ;
        justify-self: flex-end ;

    }

    .nav-item {
        padding: 25px ;
    }

    a {
        color: $color-text-bg-dark ;
        &:hover {
            color: rgba(255, 255, 255, 0.733) ;
        }
    }

}

.section-showcase {
    
    height: 655px ;
    background-color: $color-main ;
    color: $color-text-bg-dark !important;

    .section-content {
        height: 100% ;
        display: flex ;
        flex-direction: column ;
        justify-content: center ;

    }

    h1 {
        color: $color-text-bg-dark ;
        font-size: 5em ;
        text-transform: initial;
        
    }

    a {
        padding: 10px ;
        display: inline-block ;

        &:hover {
            color: $color-main ;
        }
        
    }

    p {
        margin-bottom: 30px ;
        margin-top: 30px ;
    }
    
}

.section-events {
    width: 100% ;
    height: 500px ;
    background-color: white ;
    color: $color-text-bg-light;
    display: block ;

    h1 {
        text-transform: uppercase ;
        padding: 15px 0; /*check this */
        /*margin: 15px 0 ; check this */
    }

    .btn {
        display: inline-block ;
        margin-top: 20px;
    }

    a {
        padding: 10px ;
    }

    .heading-flex-container {
        height: 20% ;
        display: flex ;
        justify-content: space-between;
        margin-top: 15px ;
        margin-bottom: 15px ;
        
    }

    .event-photo-grid-container {
        /*height: 80%;*/
        display: grid ;
        grid-template-columns: repeat(3, 1fr);
        margin: 25px 0;
        gap: 8% ;
        background-color: pink ;
    }

    .grid-column {
        height: 100%;  
        background-color: plum ; 
    }

    .event-thumbnail {
        height: 250px ;
    }


}

.section-about {
    width: 100% ;
    height: 600px ;
    
    background-image: url(../img/close-up-electric-guitar.jpg);
    background-size: cover;
    background-position: center;
    color: $color-text-bg-dark ;
    display: block ;

    position: relative ;
    z-index: 1 ;

    &:after {
        content: '';
        background-color: rgba(0, 0, 0, 0.705);
        top: 0;
        left: 0 ;
        position: absolute ;
        display: block ;
        width: 100% ;
        height: 100% ;
        z-index: 10;

    }

    .container {
        margin-top: 15px 0;
        height: 100% ;
    }

    h1 {
        color: $color-text-bg-dark ;
        text-transform: uppercase ;
        padding: 15px 0; 
    }

    .section-content {
        height: 100% ;
        display: flex ;
        flex-direction: column;
        position: relative;
        z-index: 100;   
    }

    .heading-flex-container {
        height: 20% ;
        display: flex ;
        align-items: center;
        margin-top: 15px ;
        margin-bottom: 15px ;
            
        }
    

    .flex-container {
        height: 80% ;
        width: 100% ;
        display: flex ;
        flex-direction: column ;
        margin-bottom: 15px ;
        
    }

    p {
        width: 100% ;
        flex-direction: row;
        font-size: 1.3em ;
        padding-bottom: 20px ;
        
    }

    div.btn {
        display: inherit ;
        margin-top: 20px;
        
    }

    a {
        padding: 10px ;
        display: inline-block ;
    }
}

.section-subscribe {
    width: 100% ;
    min-height: 400px ;
    background-color: white;
    color: $color-text-bg-light ;
    display: block;

    .container {
        margin-top: 15px 0;
        height: 100% ;
    }

    h1 {
        
        text-transform: uppercase ;
        padding: 15px 0; 
    }

    .section-content {
        height: 100% ;
        display: flex ;
        flex-direction: column;
        
        
    }

    .heading-flex-container {
        height: 20% ;
        display: flex ;
        align-items: center;
        justify-content: center ;
        margin-top: 15px ;
        margin-bottom: 15px ;
            
        }
    

    .flex-container {
        height: 80% ;
        display: flex ;
        flex-direction: column ;
        justify-content: center ;
        align-items: center ;
        margin-bottom: 15px ;
        text-align: center ;
        
    }

    p {
        width: 90% ;
        flex-direction: column;
        align-items: center ;
        font-size: 1.3em ;
        padding-bottom: 20px ;
    }

    div.btn {
        display: inherit ;
        margin-top: 20px;
        position: relative ;
        z-index: 10 ;
        
    }

    a {
        padding: 10px ;
        display: inline-block ;
    }
}

.section-watch {
    width: 100% ;
    height: 450px ;
    background-image: url(../img/architecture-auditorium.jpg) ;
    background-size: cover;
    background-position: center;
    color: $color-text-bg-dark ;
    display: block ;

    .container {
        margin-top: 15px 0;
        height: 100% ;
    }

    h1 {
        
        text-transform: uppercase ;
        padding: 15px 0; 
        color: white;
    }

    .section-content {
        height: 100% ;
        display: flex ;
        flex-direction: column;
        
        
    }

    .heading-flex-container {
        height: 20% ;
        display: flex ;
        align-items: center;
        justify-content: center ;
        margin-top: 15px ;
        margin-bottom: 15px ;
            
        }
    

    .flex-container {
        height: 80% ;
        /*width: 100% ;*/
        display: flex ;
        flex-direction: column ;
        justify-content: center ;
        align-items: center ;
        margin-bottom: 50px ;
        text-align: center ;
        
    }


    div.btn {
        display: inherit ;
        position: relative ;
        z-index: 10 ;
        
    }

    i {
        color: white ;
    }
}

/* FOOTER */
.footer {
    width: 100% ;
    height: 400px ;
    background-color: $color-main;
    color: $color-text-bg-dark ;
    display: block ;

    .container {
        margin-top: 15px 0;
        height: 100% ;
    }

    h5 {
        
        text-transform: uppercase ;
        padding: 15px 0; 
    }

    .section-content {
        height: 100% ;
        display: flex ;
        flex-direction: column;
        
        
    }

    .flex-container {
        height: 80% ;
        width: 100% ;
        display: flex ;
        flex-direction: column ;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 30px ;
        margin-top: 30px ;
        
    }

    p {
        width: 100% ;
        flex-direction: row;
        font-size: 1em ;
        padding-bottom: 20px ;
    }
}

/* Responsive Rules */
$breakpoint-tablet: 768px ;

@media(max-width: $breakpoint-tablet) {
    
    body {
        font-size: 2.5vw ;
    }

    p {
        font-size: 3vw ;
    }

    a {
        font-size: 3vw ;
    }
    


    .event-photo-grid-container {
        display: grid ;
        width: 100% ;
        height: 100%;
        grid-template-columns: 1fr ;
        /*grid-template-rows: repeat(3, 1fr);*/
        background-color: pink ;
    }

    .grid-column {
        width: 100%;
        height: 10% ;
        grid-template-rows: repeat(3, 1fr) ;
        background-color: plum ;
    }

    .section-about {
        min-height: 800px ;
    }




}